<p>Animal added to database.</p>

  <div class="flex_grid_row">

    <div class="flex_grid_cell">
      <form method="GET" action="/animals" >
        <input class="func_button" type="submit" value="Back to List"/>
      </form>
    </div>

    <div class="flex_grid_cell">
      <form method="GET" action="/animals/new" >
        <input class="func_button" type="submit" value="Add Another Animal"/>
      </form>
    </div>

  </div>
