<p>Animal biography updated.</p>


<div class="flex_grid">

  <div class="flex_grid_column">

    <div class="flex_grid_cell">
      <form method="GET" action="/animals/<%= @animal.id %>" >
        <input class="func_button" type="submit" value="Back to Animal"/>
      </form>
    </div>

  </div>

</div>