<p>Animal added to database.</p>

<div class="flex_grid">

<div class="flex_grid_column">

<div class="flex_grid_cell">
<form method="GET" action="/animals" >
  <input class="func_button" type="submit" value="Back to List"/>
</form>
</div>

</div>

</div>