<h1>Animals Looking for Homes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Available for adoption?</th>
    <th></th>
    <th>In training?</th>
    <th></th>
    <th>Waiting to see a vet?</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><%= animal.name %></td>
    <td>|</td>
    <td><%= animal.type %></td>
    <td>|</td>
    <td>
    <% if animal.adoptable == 't' %>
    Yes 
    <% elsif animal.adoptable == 'f' %>
    No     
    <% else %>
    Error
    <% end %>
    </td>
    <td>|</td>
    <td>
    <% if animal.training_status == 't' %>
    Yes 
    <% elsif animal.training_status == 'f' %>
    No     
    <% else %>
    Error
    <% end %>
    </td>
    <td>|</td>
    <td>
    <% if animal.vet_status == 't' %>
    Yes 
    <% elsif animal.vet_status == 'f' %>
    No     
    <% else %>
    Error
    <% end %>
    </td>
  </tr>
  <% end %>
</table>