<!DOCTYPE html>
<html>
<head>
  <title>Name-Goes-Here Animal Shelter</title>
</head>
<body>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/animals">Animals</a> </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>