<!DOCTYPE html>
<html>
<head>
  <title>Name-Goes-Here Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/tabs.css">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/formatting.css">

  <link rel="icon" href="/images/paw.png" />
</head>
<body>
  <nav>
    <ul>
      <li> <a href="/" class="nav_button">Home</a> </li>
      <li> <a href="/animals" class="nav_button">Animals</a> </li>
      <li> <a href="/owners" class="nav_button">Owners</a> </li>
      <li> <a href="/search/animal" class="nav_button">Search for an Animal</a> </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>