<form method="POST" action="/search">

<p>Please enter an animal's name...</p>

<label for="animal-name">Animal Name:</label>
<input type="text" id="animal-name" name="name"/>

<p>...or a type of animal.</p>

<label for="animal-type">Animal Type:</label>
<input type="text" id="animal-type" name="type"/>

<p></p>

<div class="flex_grid">

<div class="flex_grid_column">

<div class="flex_grid_cell">
<input class="func_button" type="submit" value="Search"/>
</div>

</div>

</div>


</form>
