li{
  display: inline;
}

body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.h1_title { 
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.p_intro {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.flex_grid{
}

.flex_grid_row{
  display: flex;
  flex-direction: row;
}

.flex_grid_column{
  display: flex;
  flex-direction: column;
}

.flex_grid_cell{
  flex: 1;
  padding: 10px;
 /* border: solid 1px beige;
  text-align: center;*/
}
