li{
  display: inline;
}

body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form_alignment * {
  vertical-align: top;
}

.submissionfield { 
  width: 500px; 
  height: 200px; 
  border: 1px solid #999999; 
  padding: 5px; 
  font-size: 14px;
}

.flex_grid{
}

.flex_grid_row{
  display: flex;
  flex-direction: row;
}

.flex_grid_column{
  display: flex;
  flex-direction: column;
}

.flex_grid_cell{
  flex: 1;
  padding: 10px;
 /* border: solid 1px beige;
  text-align: center;*/
}


