<h1>Owners Looking for Pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Pets Owned</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
    <td>|</td>
    <td>
      <%= owner.animals.join(", ") %>
    </td>
  </tr>
  <% end %>
</table>

<form method="GET" action="/owners/new" >
  <input class="func_button" type="submit" value="Add New Owner"/>
</form>