<h1>Owners Looking for Pets</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><%= owner.name %></td>
  </tr>
  <% end %>
</table>

<a href="/owners/new">Add New Owner</a>