<h2>Owners Looking for Pets</h2>

<div class="tabs">

<div class="content">
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Pets Owned</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
    <td>|</td>
    <td>
      <%= owner.animals.join(", ") %>
    </td>
  </tr>
  <% end %>
</table>
</div>


</div>


<div class="flex_grid">

<div class="flex_grid_column">

<div class="flex_grid_cell">

<form method="GET" action="/owners/new" >
  <input class="func_button" type="submit" value="Add New Owner"/>
</form>
</div>

</div>

</div>