
<form method="POST" action="/owners">

  <label for="owner-name">Name:</label>
  <input type="text" id="owner-name" name="name"/>

  <input class="func_button" type="submit" value="Add Owner"/>
  
</form>
