<div class="flex_grid_column">

  <form method="POST" action="/owners">

    <div class="flex_grid_cell">
      <label for="owner-name">Name:</label>
      <input type="text" id="owner-name" name="name"/>
    </div>

    <div class="flex_grid_cell">
      <input class="func_button" type="submit" value="Add Owner"/>
    </div>
    
  </form>
</div>