<p>Name: <%= @owner.name %></p>
<p>Pets Owned: <%= @owner.animals.join(", ") %></p>

<form method="POST" action="/owners/<%= @owner.id %>/delete" >
  <input class="func_button" type="submit" value="Delete Record"/>
</form>